.input {
  width: 100%;
}

.lightmode {
  background-color: lightgrey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  margin: 0 auto; /* Centers horizontally */
}

.darkmode {
  background-color: #36454F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: flex; 
  margin: 0 auto; /* Centers horizontally */
}

.color_button_container {
  display: flex;
  margin-right: 350px;
  margin-left: 350px;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.submit_button {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.card_image {
  display: block;
  height: 300px;
  width: 300px;
}

.remove-button {
  background-color: #36454F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: flex; 
  margin: 0 auto;
}
